
/* Full screen size version*/
body{
    background: #FFF8F0;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    color:#55206D;
    margin:0;
    padding:0;

}
h1{
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #201244;
}
h2{
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: #201244;
    

}
.big-text{
    font-family: Poppins;
    font-weight: 400px;
    font-size:14px;
    line-height:32px;
    text-align: left;
}
.small-text{
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight:400;
    line-height:14px;
    color: black;
}
.hero-icon{
    height: "16";
    width: "10";
    margin-bottom: -4px;
}
#hero-section{
    display: flex;
    max-width:1440px;
    margin:30x auto 48px auto;

}

#hero-text{
    width:50%;
    padding: 32px;
    padding-left: 20px;
    margin:18px;
    
}
#hero-image-wrapper{
    width:50%;
    padding: 48px;
    padding-bottom: 12px;

}
#hero-image{
    width:100%;
    height: auto;
    max-height: 600px;
  

}
#hi-and-name{
    margin-top: 52px;
}
#freelance{
    margin-top:10px;
    margin-bottom: 30px;
}
#contact-button{
    height:44px;
    width:158px;
    border-radius: 4px;
    background-color: #2F2F2F;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top:20px;
}
#contact-button:hover{
    background-color: #727171;
    cursor: pointer;

}

#pricing-section{
    max-width: 1060px;
    margin-top: 98;
 

   
}
.over-title{

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #2858FF;
    text-align: center;
    margin-bottom: 8px;
  
}
.section-heading{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.section-subtitle{
    text-align: center;
    margin:8px auto 48px auto;
    max-width: 700px;
    font-family: Poppins;
    color: #190D37;


}
#pricing-boxes{
    display: flex;
    margin:68px;
}
.price-box{
    width: 33.33%;

}
.pricing-card{
    background-color: white;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}
.service{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #2858FF;
    

}
.price{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-top: 8px;
    color:black;
}
.price-per{
    font-family: Poppins;
    font-size:14px;
    font-weight: 400;
    line-height: 21px;
    color: #8a8a8a;
}
.service-description{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8a8a8a;
    margin-top:8px;

}
.service-benefits{
    padding:0px;
    list-style-type:none;
    font-family: Poppins;
    font-size:16px;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
}
.service-benefits li{
    margin-bottom:8px;
}
.service-contact-button{
    width:100%;
    padding:12px;
    border-radius: 4px;
    border:2px solid #2F2F2F;
    background-color: white;
    color: #2F2F2F;
    font-family: Inter;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}
.service-contact-button:hover{
    background-color: #565555;
    color: white;
    cursor: pointer;

}

#footer{
    width:100%;
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
    margin-top: 48px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;

}

#what-i-do{
    margin-top: 80px;
    margin-bottom: 24px;
}
#ten-plus{
    text-align: center;
}
#what-i-do-boxes{
    display: flex;
    margin:58px;
    margin-top:32px;
}
.what-i-do-box{
    background-color: white;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
    width: 33.3%;
    height: auto;
}
.what-i-do-box-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color:black;
}
.what-i-do-box-desc{
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-size:16px;
    color: #55206D;
    margin:20px;
}



#projects-overview{

    margin:112px auto 78px auto;

}

#bottom-image{
    width:100%;
    margin-top:24px;
   
}


/* Smaller Desktop Version */
@media only screen and (min-width:680px) and (max-width:980px){

body{
    background: #FFF8F0;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    color:#55206D;
    margin:0;
    padding:0;

}
h1{
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #201244;
}
h2{
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: #201244;
    

}
.big-text{
    font-family: Poppins;
    font-weight: 400px;
    font-size:18px;
    line-height:32px;
    text-align: left;
}
.small-text{
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight:400;
    line-height:14px;
    color: black;
}
.hero-icon{
    height: "16";
    width: "10";
    margin-bottom: -4px;
}
#hero-section{
    display:block;
    align-items: center;
    justify-content: center;
    

}

#hero-text{
   margin: 38px auto 38px auto;
   width:85%l

    
}
#hero-image-wrapper{
   
    margin:32px auto 48px auto;
    height:auto;
    width:auto;

}
#hero-image{
    width:100%;
    height: auto;
    max-height: 600px;
  

}
#hi-and-name{
    margin-top: 52px;
}
#freelance{
    margin-top:10px;
    margin-bottom: 30px;
}
#contact-button{
    height:44px;
    width:158px;
    border-radius: 4px;
    background-color: #2F2F2F;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top:20px;
}
#contact-button:hover{
    background-color: #727171;
    cursor: pointer;

}

#pricing-section{
    max-width: 1060px;
    margin-top: 98;
 

   
}
.over-title{

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #2858FF;
    text-align: center;
    margin-bottom: 8px;
  
}
.section-heading{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.section-subtitle{
    text-align: center;
    margin:8px auto 48px auto;
    max-width: 700px;
    font-family: Poppins;
    color: #190D37;


}
#pricing-boxes{
    display: block;
    
}
.price-box{
    width: 85%;
    margin: 24px auto 24px auto;

}
.pricing-card{
    background-color: white;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}
.service{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #2858FF;
    

}
.price{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-top: 8px;
    color:black;
}
.price-per{
    font-family: Poppins;
    font-size:14px;
    font-weight: 400;
    line-height: 21px;
    color: #8a8a8a;
}
.service-description{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8a8a8a;
    margin-top:8px;

}
.service-benefits{
    padding:0px;
    list-style-type:none;
    font-family: Poppins;
    font-size:16px;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
}
.service-benefits li{
    margin-bottom:8px;
}
.service-contact-button{
    width:100%;
    padding:12px;
    border-radius: 4px;
    border:2px solid #2F2F2F;
    background-color: white;
    color: #2F2F2F;
    font-family: Inter;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}
.service-contact-button:hover{
    background-color: #565555;
    color: white;
    cursor: pointer;

}

#footer{
    width:100%;
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
    margin-top: 48px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;

}

#what-i-do{
    margin-top: 80px;
    margin-bottom: 24px;
}
#ten-plus{
    text-align: center;
}
#what-i-do-boxes{
    display: block;
    margin:58px;
    margin-top:32px;
}
.what-i-do-box{
    background-color: white;
    margin: 18px auto 14px auto;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
    width: 85%;
   
}
.what-i-do-box-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color:black;
}
.what-i-do-box-desc{
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-size:16px;
    color: #55206D;
    margin:20px;
}



#projects-overview{

    margin:112px auto 78px auto;

}

#bottom-image{
    width:100%;
    margin-top:24px;
   
}

}


/* Mobile Version*/
@media (max-width:680px){

body{
    background: #FFF8F0;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    color:#55206D;
    margin:0;
    padding:0;

}
h1{
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #201244;
}
h2{
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: #201244;
    

}
.big-text{
    font-family: Poppins;
    font-weight: 400px;
    font-size:18px;
    line-height:32px;
    text-align: left;
    width:100%;
}
.small-text{
   
    
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight:400;
    line-height:14px;
    color: black;
    
}
#email{
    margin-top: 8px;
   
}

.hero-icon{
    height: "16";
    width: "10";
    margin-bottom: -4px;
    
}

#hero-section{
    display:inline-block;
    align-items: center;
    justify-content: center;
    width:100%;
    

}

#freelance{
    font-family: League Spartan;
    font-size: 78px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #201244;
    width:100%;
}
#hero-text{
    font-size: 16px;
  
}
#hero-image-wrapper{
    width:50%;
    padding: 28px auto 28px auto;
    
    height:400px;
    width:auto;

}
#hero-image{
    width:100%;
    height: auto;
    max-height: 600px;
  

}
#hi-and-name{
    margin-top: 52px;
}
#freelance{
    margin-top:10px;
    margin-bottom: 30px;
}
#contact-button{
    height:44px;
    width:158px;
    border-radius: 4px;
    background-color: #2F2F2F;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top:20px;
}
#contact-button:hover{
    background-color: #727171;
    cursor: pointer;

}

#pricing-section{
    max-width: 1060px;
    margin-top: 98;
 

   
}
.over-title{

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #2858FF;
    text-align: center;
    margin-bottom: 8px;
  
}
.section-heading{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.section-subtitle{
    text-align: center;
    margin:8px auto 48px auto;
    max-width: 700px;
    font-family: Poppins;
    color: #190D37;


}
#pricing-boxes{
    display: block;
    
}
.price-box{
    width: 85%;
    margin: 24px auto 24px auto;

}
.pricing-card{
    background-color: white;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}
.service{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #2858FF;
    

}
.price{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-top: 8px;
    color:black;
}
.price-per{
    font-family: Poppins;
    font-size:14px;
    font-weight: 400;
    line-height: 21px;
    color: #8a8a8a;
}
.service-description{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8a8a8a;
    margin-top:8px;

}
.service-benefits{
    padding:0px;
    list-style-type:none;
    font-family: Poppins;
    font-size:16px;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
}
.service-benefits li{
    margin-bottom:8px;
}
.service-contact-button{
    width:100%;
    padding:12px;
    border-radius: 4px;
    border:2px solid #2F2F2F;
    background-color: white;
    color: #2F2F2F;
    font-family: Inter;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}
.service-contact-button:hover{
    background-color: #565555;
    color: white;
    cursor: pointer;

}

#footer{
    width:100%;
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
    margin-top: 48px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;

}

#what-i-do{
    margin-top: 80px;
    margin-bottom: 24px;
}
#ten-plus{
    text-align: center;
}
#what-i-do-boxes{
    display: block;
    margin:58px;
    margin-top:32px;
}
.what-i-do-box{
    background-color: white;
    margin: 18px auto 14px auto;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
    width: 85%;
   
}
.what-i-do-box-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color:black;
}
.what-i-do-box-desc{
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-size:16px;
    color: #55206D;
    margin:20px;
}



#projects-overview{

    margin:112px auto 78px auto;

}

#bottom-image{
    width:100%;
    margin-top:24px;
   
}
#what-i-do-box-pre{
    width:80%;
}

}
